<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  {{!-- CSS --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  {{!-- JS --}}
  <script src=""></script>

  {{!-- Title --}}
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
