<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Vast+Shadow&display=swap" rel="stylesheet">

    {{!-- CSS --}}
    <link rel="stylesheet" href="/styles/reset.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

    {{!-- jQuery --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{!-- Title --}}
    <title>MacroFit</title>
</head>

<body>
    <div class="formGrid">
        {{!-- BG Overlay --}}
        <div class="overlay"></div>

        <div class="signIn">

            {{!-- ////////////// EXISTING ACCOUNT FORM////////////// --}}
            <div class="introBox" id="oldBox">
                <h1>MacroFit</h1>
                <hr>
                <form id="login">
                    <div class="row1 col" style="width: 50%; justify-self:center; margin:0;">
                        <input type="text" id="loginUniqueId" name="uniqueId" placeholder="Unique ID" required>
                    </div>
                    <div class="row2 col" style="width: 50%; justify-self:center;">
                        <input type="password" id="loginPassword" name="password" placeholder="Password" required>
                    </div>
                    <input class="row7 col" type="submit" value="Log In" id="sub-btn-login">
                </form>
                <div class="subtext" id="openNew">Don't have an account yet? Click here!</div>
            </div>
            <img src="images/new.jpg" alt="crunches" id="actPic">

            {{!-- ////////////// CREATE ACCOUNT FORM////////////// --}}
            <div class="introBox hidden" id="newBox">
                <h1>Let's Get Started</h1>
                <hr>
                <form id="client">
                    <div class="row1 col1">
                        <input type="text" id="first" name="first-name" placeholder="First Name" required>
                    </div>
                    <div class="row1 col2">
                        <input type="text" id="last" name="last-name" placeholder="Last Name" required>
                    </div>
                    <div class="row2 col1">
                        <input type="text" id="uniqueId" name="uniqueId" placeholder="Unique ID" required>
                    </div>
                    <div class="row2 col2">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="row3 col1">
                        <label for="dob">Date Of Birth</label>
                        <input type="date" id="dob" name="dob" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
                            placeholder="MM/DD/YYYY" required>
                    </div>
                    <div class="row3 col2">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender">
                            <option value="" selected>Choose an Option</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="row4 col1">
                        <label for="height">Height</label>
                        <select name="height" id="feet">
                            <option value="" selected>ft</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <select name="height" id="inches">
                            <option value="" selected>in</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                        </select>
                    </div>
                    <div class="row4 col2">
                        <label for="weight">Weight</label>
                        <input type="number" id="weight" name="weight" placeholder="Pounds" required>
                    </div>
                    <div class="row5 col">
                        {{!-- <label for="activity">Activity Level</label> --}}
                        <select name="activity" id="saf">
                            <option value="" selected>Activity Level</option>
                            <option value="1.2">Sedentary</option>
                            <option value="1.375">Light activity or exercise 1-3 days a week</option>
                            <option value="1.55"> Moderate activity or exercise 3-5 days a week</option>
                            <option value="1.725">Heavy activity or exercise 6-7 days a week</option>
                            <option value="1.9">Very heavy activity or 2 a days</option>
                        </select>
                    </div>
                    <div class="row6 col">
                        {{!-- <label for="goals">Fitness</label> --}}
                        <select name="goals" id="deficit">
                            <option value="" selected>Fitness</option>
                            <option value="0">Build muscle and maintain weight</option>
                            <option value="250">Tone up and lean down</option>
                            <option value="500">Lose weight</option>
                            <option value="750">Major lifestyle change/Drop out of obesity level</option>
                        </select>
                    </div>

                    <input class="row7 col" type="submit" value="Create Account" id="sub-btn">
                </form>
                <div class="subtext openOld">Already have an account? Click here!</div>
            </div>
            {{!-- ////////////// FORM////////////// --}}
        </div>
    </div>

    {{!-- Website f(x) JS --}}
    <script src="js/caloric.js"></script>
    <script src="js/login.js"></script>
</body>

</html>