{{!-- BG Overlay --}}
<div class="overlay"></div>

{{!-- Grid Container START --}}
<div class="gridContainer">
  <h1>Project 2</h1>

  {{!-- Side Bar Nav --}}
  <div class="sideNav">

    {{!-- Nav Title --}}
    <div class="navTitle">Quick Nav</div>

    {{!-- navLink --}}
    <div class="navLinks">

        {{!-- My Account --}}
        <div class="nav" id="account">My Account</div>

        {{!-- Calendar --}}
        <div class="nav" id="calendar">Calendar</div>

        {{!-- Nutrition --}}
        <div class="nav" id="nutrition">Nutrition</div>
        
        {{!-- Workout --}}
        <div class="nav" id="workout">Workout</div>

    </div>
  </div>



</div>
{{!-- Grid Container END --}}


{{!-- 
<script src="/js/index.js"></script>
<script src="/js/app.js"></script> --}}