<div class="box pos0">
  <div class="boxHeader">Calorie Count
  </div>

  <div id="calories" class="boxTop">
    {{!-- Calorie Counter --}}
    <canvas id="counter"></canvas>
    <div id="current">800</div>
    <div id="max">2000</div>

    {{!-- Calorie Info --}}
  </div>

</div>

<div class="box pos1">
  <div class="boxHeader">Your Workout
  </div>

  <div class="workoutOptions">
    Test
  </div>

  <div class="workoutDashContainer">

  </div>
  
  

</div>

<div class="box pos2">
  <div class="boxHeader">Achievements
  </div>
</div>