<div class="box posAll">
  <div class="boxHeader">Workout Database</div>

  {{!-- SINGLE EXAMPLE --}}
  <div class="workoutContainer">
    <p>Barbell Squat</p>
    <div class="workout">
      <div class="workoutPicDiv">
        <img class="workoutPic" src="https://www.bodybuilding.com/fun/2002/squat.jpg" alt="squatEX1">
      </div>
      <img class="workoutPic" src="https://www.bodybuilding.com/fun/2002/squat2.jpg" alt="squatEX2">
      <div class="workoutDesc">
        <p>Barbell</p>
        <hr>
        <p>Lower Body</p>
      </div>
    </div>
  </div>
  {{!-- SINGLE EXAMPLE --}}

  {{#each exercise}}
  {{!-- SINGLE EXERCISE --}}
  {{!-- SINGLE EXERCISE --}}
  {{/each}}

</div>